{% extends '../model-base.html' %}
    
    {% block title %}
        {{ title }}
    {% endblock title %}
    
    {% block content %}

    


        <h1>Eventos</h1>
        <a href="evento/">
            <button type="button">Novo evento</button>
        </a>
        </br>
        </br>
        <table>
            <tr>
              <th>Título</th>
              <th>Descrição</th>
              <th>Data</th>
              <th>Estado</th>
              <th>ALTERAR</th>
              <th>EXCLUIR</th>
            </tr>
            {% for evento in eventos %}
                <tr style="{% if evento.get_evento_atrasado %} color: red; {% endif %}">
                <td>{{evento.titulo}}</td>
                <td>{{evento.descricao}} </td>
                <td>{{evento.get_data_evento}}</td>
                <td>
                    {% if evento.get_evento_atrasado %}
                        Passado
                    {% else %}
                        Futuro
                    {% endif %}
                </td>
                <td><a href="evento/?id= {{ evento.id }}">Alterar</a></td>
                <td><a href="{% url 'delete_evento' evento.id %}">Excluir</a></td>
                </tr>
            {% endfor %}
          </table>

        
        {% for message in messages %}                
            <span style="color: red;"> ERRO: {{ message }}   </span>             
        {% endfor %}
    
    {% endblock %}

    